#minutes-screen-content-wrapper {
    height: 100%;
}

#left-sidebar {
    dock: left;
    width: 10%;
}

#right-sidebar {
    dock: right;
    width: 10%;
}

Input {
    height: 1;
    width: 100%;
}

MinuteEditScreen {
    overflow-y: auto;
}

MinutesScreen Button {
    color: white;
    width: 100%;
}

#new-minute-button {
    dock: top;
}

#minutes-list {
    height: 80%;
    padding: 2;
    overflow-y: auto;
}

MinuteListItem {
    height: 2;
}

.focus {
    background: green;
}

#minutes-meta {
    outline: red;
    max-height: 4;
}

#bullets {
    outline: blue;
    height: 20;
    overflow-y: auto;
}

#buttons {
    height: 4;
    align-horizontal: right;
}

/* The top level dialog (a Container) */
#dialog {
    height: 100%;
    margin: 4 8;
    background: $panel;
    color: $text;
    border: tall $background;
    padding: 1 2;
}

/* The button class */
Button {
    width: 1fr;
}

/* Matches the question text */
.question {
    text-style: bold;
    height: 100%;
    content-align: center middle;
}

/* Matches the button container */
.buttons {
    width: 100%;
    height: auto;
    dock: bottom;
}
